@page "/allteams"
@using BallBox.Client.Models
@using BallBox.Client.Services
@inject TeamService TeamService

<h3>Teams</h3>

@if (teams == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var team in teams)
        {
            <li>@team.Name</li>
        }
    </ul>
    <table class="table">
        <thead>
            <th>Team</th>
            <th>Color</th>
            <th>OVR</th>
        </thead>
        <tbody>
            @foreach(var team in teams){
                <tr>
                    <td>@team.Name</td>
                    <td>@team.PrimaryColor / @team.SecondaryColor</td>
                    <td>@team.Overall</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Team> teams;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            teams = await TeamService.GetTeamsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching teams: " + ex.Message);
        }
    }
}
