@page "/allteams"
@using BallBox.Client.Models
@using BallBox.Client.Services
@inject TeamService TeamService

<h3>Teams</h3>

@if (teams == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Color</th>
                <th>OVR</th>
                <th>ATT</th>
                <th>DEF</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Losses</th>
                <th>GM</th>
                <th>GC</th>
                <th>GDiff</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>@team.Name</td>
                    <td>@team.PrimaryColor / @team.SecondaryColor</td>
                    <td>@team.CalculateTeamOverall()</td>
                    <td>@team.Attacking</td>
                    <td>@team.Defending</td>
                    <td>@team.Wins</td>
                    <td>@team.Draws</td>
                    <td>@team.Losses</td>
                    <td>@team.GoalsScored</td>
                    <td>@team.GoalsConceded</td>
                    <td>@team.CalculateTeamGoalDifference()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Team> teams;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            teams = await TeamService.GetTeamsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching teams: " + ex.Message);
        }
    }
}
